{% extends "base.html" %}
{% block title %}Список пользователей{% endblock %}
{% block content %}
    <h1>Список пользователей</h1>
    <div>
        {% for profile in profiles %}
            <ul>
                <li><a href="{{ profile.get_absolute_url }}">{{ profile.user.username }}</a>
                    {% if request.user.profile.is_admin or request.user.profile.is_moderator %}
                         <a href="{{ profile.get_edit_url }}">edit profile</a>
                    {% endif %}
                </li>

            </ul>
        {% endfor %}
    </div>
{% endblock %}