{% extends "base.html" %}
{% block title %}Пользователь - {{ profile.user.username }}{% endblock %}
{% block content %}
    <h1>Пользователь - {{ profile.user.username }}</h1>
    <div>
        <ul>
            <li><p>Пользователь: {{ profile.user.username }}</p></li>
            <li><p>Имя: {{ profile.first_name }}</p></li>
            <li><p>Фамилия: {{ profile.last_name }}</p></li>
            <li><p>Отчество: {{ profile.middle_name }}</p></li>
            <li><p>Информация о пользователе: {{ profile.bio }}</p></li>
            <li><p>Дата рождения: {{ profile.birth_date }}</p></li>
            <li><p>Компания: {{ profile.company}}</p></li>
            <li><p>avatar: </p>
                <p><img src="{{ MEDIA_URL }}{{ profile.avatar }}" alt="{{ profile.avatar }}"></p>
            </li>
        </ul>
    </div>
{% endblock %}