{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Test site {% endblock %}</title>
</head>
<body>
<main>
    {% block content %}{% endblock %}
</main>
<hr>
    {% if request.user.is_authenticated %}
        <a href="{% url 'accounts:update_profile' request.user.profile.pk %}">{{ request.user.username }} - Отредактируйте Ваш профиль</a><br>
        <a href="{% url 'accounts:logout' %}"> Logout</a><br>
        {% else %}
         <a href="{% url 'accounts:login' %}"> Login</a><br>
    {% endif %}
    <a href="{% url 'home' %}">Домашняя страница</a><br>
    <a href="{% url 'accounts:users_list' %}">Список зарегистрированных пользователей</a><br>
    <a href="{% url 'companies:company_list' %}">Список компаний</a><br>
</body>
</html>